{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label id="city-input" for="example-text">City</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter City">
          </div>
          <div class="form-group">
            <label for="example-description">Country/State</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter country or state"></textarea>
          </div>
          <div class="form-group">
            <label for="example-description">What Activities Did You Do?</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter activities"></textarea>
          </div>
            <div class="form-group">
            <label for="example-description">Would You Recommend Any Local Food/Beverage Spots?</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter places here"></textarea>
          </div>
            <div class="form-group">
            <label for="example-description">Dates Travelled</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter dates here"></textarea>
          </div>
            <div class="form-group">
            <label for="example-description">Destination Memories</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter pictures"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      
        {{!-- <h4>Trip Brought To You By {{user.firstName}}</h4> --}}
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
          <li>   <div id="map-display">
            <div >
              <div id="map" class="map">
 
              </div>
            </div>
          </div></li>
        </ul>
      </div>
    </div>
 
        </div>  </div>
</div>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWxhKf5hSELFy6GNMq-DLRPJJ2WjfON5Q&callback=initMap">
</script>



{{!-- <script src="/public/assets/js/maps.js"></script> --}}
<script src="/assets/js/example.js"></script>
