<link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
{{!-- general mapbox api script --}}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'>
</script>
{{!-- geocoder mapbox api --}}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
{{!-- geocoder styling --}}
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label id="city-input" for="example-text">City</label>
             <textarea class="form-control" id="example-text" aria-describedby="example-text" placeholder="Enter City"></textarea>
          </div>
          <div class="form-group">
            <label for="example-description">Country/State</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter country or state"></textarea>
          </div>
          <div class="form-group">
            <label for="example-description">What Activities Did You Do?</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter activities"></textarea>
          </div>
            <div class="form-group">
            <label for="example-description">Would You Recommend Any Local Food/Beverage Spots?</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter places here"></textarea>
          </div>
            <div class="form-group">
            <label for="example-description">Dates Travelled</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter dates here"></textarea>
          </div>
            <div class="form-group">
            <label for="example-description">Destination Memories</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter pictures"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      
        {{!-- <h4>Trip Brought To You By {{user.firstName}}</h4> --}}
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
         
        </ul>
      </div>
    </div>
 
        </div>  </div>
</div>
<aside>

<div id='map' ></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiamFtYnJvc2UwIiwiYSI6ImNsMXlkNms3NzBiamYzZHFyaTA2M3lheTAifQ.Ou_NCUw6c5u9WTU2RUP3_Q';
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/mapbox/streets-v11', // style URL
center: [-74.5, 40], // starting position [lng, lat]
zoom: 5 // starting zoom

});
map.addControl(new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  mapboxgl: mapboxgl
}))
</script>
</aside>
{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>

  




{{!-- <script src="/public/assets/js/maps.js"></script> --}}
<script src="/assets/js/example.js"></script>
